*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.body {
    background: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.header .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    background: url(IMG/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
}

.header .logo {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.slider {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: black;

}

.slider .slides {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0s;
    z-index: 1;
    clip-path: circle(0px at center);
}


.slider input[type = "radio"]:checked + .slides {
    z-index: 10;
    clip-path: circle(1000px at center);
    transition-delay: 0.3s;
}
.slider .slides img {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);
}

.slider .slides .content {
    position: relative;
    text-align: center;
    max-width: 800px;

}

.slider .slides .content h1 {
    line-height: 1em;
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 100px;
}

.slider input[type="radio"] {
    position: relative;
    z-index: 1000;
    margin: 5px;
    margin-bottom: 40px;
    outline: none;
    cursor: pointer;

}